{% extends "cart/base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block body %}
<div >
   <table class="table" style="border: 1px solid black;">
       <thead>
           <th>Item</th>
           <th>Price</th>
       </thead>
       <tfoot>
           <tr>
               <td></td>
               <td>Total: {{cart.total}}</td>
           </tr>
       </tfoot>
    {% for item in cart.order_items.all %}

    <tr><td>{{ item }}</td><td>{{ item.sprice }}</td><td><a href="{% url 'update_cart' item.slug %}">Remove</a></td></tr>

    {% endfor %}
   </table>
</div>
{% endblock %}