  
{% extends "orders/base.html" %}

{% block title %}
    Orders
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<a href="{% url 'accounts:logout' %}">Logout</a>
{% else %}
<a href="{% url 'accounts:login' %}">Login</a>
<a href="{% url 'accounts:register' %}">Register</a>
{% endif %}
    <h1>Menu</h1>

    <h3>Pizza</h3>
    {% for piza in pizza %}
        <div>
            {{piza.food}}<br>
            <h5>Toppings:</h5>
                  
                  <div id="checkboxes" data-id="{{piza.id}}">
                    {% for topping in toppings %} 
                    
                      <input type="checkbox" id="topping-{{ forloop.counter }}" value="{{topping}}">
                      <label for="topping-{{ forloop.counter }}">{{topping}}</label>
                      {% endfor %}
                  </div>
            </div>
         
            <input type="radio" id="small" name="price" value="{{piza.sprice}}">
            <label for="small">Small:{{piza.sprice}}$</label>
            <input type="radio" id="large" name="price" value="{{piza.lprice}}">
            <label for="large">Large:{{piza.lprice}}$</label><br>
            <a href="" class="btn btn-warning">Add to Cart</a>
            <br>
        </div>
        <br>
        {% endfor %}

    <h3>Subs</h3>  
    {% for sub in subs %}  
    <div>
        {% if sub.food == 'Steak' %}        
        {{sub.food}}
        <input type="radio" id="small" name="price" value="{{sub.sprice}}">
        <label for="small">Small:{{sub.sprice}}$</label>
        <input type="radio" id="large" name="price" value="{{sub.lprice}}">
        <label for="large">Large:{{sub.lprice}}$</label>
        <label for="extras"> Extra: </label>
        <select id="extras">
            <option value="Cheese">Cheese</option>
            <option value="Mushrooms">Mushrooms</option>
            <option value="Green Peppers">Green Peppers</option>
            <option value="Onions">Onions</option>
        </select>
        
        <br>
        <a href="" class="btn btn-warning">Add to Cart</a>
        {% else %}
        {% if sub.food == 'Sausage, Peppers & Onions' %}
        {{sub.food}}
        <input type="radio" id="large" name="price" value="{{sub.lprice}}">
        <label for="large">Large:{{sub.lprice}}$</label>
        <input type="checkbox" id="extra" name="extra" value="cheese">
        <label for="extra"> Extra Cheese</label>
        <a href="" class="btn btn-warning">Add to Cart</a>
        <br>
        {% else %}
        {{sub.food}}
        <input type="radio" id="small" name="price" value="{{sub.sprice}}">
        <label for="small">Small:{{sub.sprice}}$</label>
        <input type="radio" id="large" name="price" value="{{sub.lprice}}">
        <label for="large">Large:{{sub.lprice}}$</label>
        <input type="checkbox" id="extra" name="extra" value="cheese">
        <label for="extra"> Extra Cheese</label>
        <a href="" class="btn btn-warning">Add to Cart</a>
        <br>
        {% endif %}
        {% endif %}
    </div>
    <br>
    {% endfor %}

    <h3>Pasta</h3>
    <h5>Baked Ziti</h5>
    
    <div> 
        {% for pas in pasta %}
        <input type="radio" id="{{pas.food}}" name="price" value="{{pas.sprice}}">
        <label for="{{pas.food}}">{{pas.food}} {{pas.sprice}}$</label>
        {% endfor %}
        <a href="" class="btn btn-warning">Add to Cart</a>
    </div>
    
   <h3>Salads</h3>
   {% for salad in salads %}
   <div>
       <h5>{{salad.food}}   for:{{salad.sprice}}$</h5>
       <a href="" class="btn btn-warning">Add to Cart</a>
       <br>
   </div>
   {% endfor %}

   <h3>Dinner Platters</h3>
   {% for plate in plates %}
   <div>
   {{plate.food}}
   <input type="radio" id="small" name="price" value="{{plate.sprice}}">
    <label for="small">Small:{{plate.sprice}}$</label>
    <input type="radio" id="large" name="price" value="{{plate.lprice}}">
    <label for="large">Large:{{plate.lprice}}$</label><br>
    <a href="" class="btn btn-warning">Add to Cart</a>
   </div>
   <br>
   {% endfor %}
{% endblock %}
